.minefield td {
  padding: 0;
  border: solid 1px #000000;
}

.square {
  position: relative;
  width: 50px;
  overflow: hidden;
}

.red {
  background-color: #FF0000;
}

.gray {
  background-color: #EEEEEE;
}

.square:before {
  content: '';
  display: block;
  padding-top: 50px;
}

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.square-content div {
  display: table;
  width: 100%;
  height: 100%;
}

.square-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #000000;
}

.lost-message {
  margin-bottom: 20px;
}

.reset-quit-btn-section {
  margin-bottom: 10px;
}

.help-block {
  color: #FF0000;
}